.page_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .item_page {
        cursor: pointer;
        margin: 0 10px;
        transition: transform 0.2s ease;
        opacity: 0.5;

        &:hover {
            transform: scale(1.2);
            opacity: 2;

        }

        &.active {
            border-bottom: 2px solid rgb(60, 0, 255);
            opacity: 2 !important
        }
    }

    .FaAngleLeft,
    .FaAngleRight {
        cursor: pointer;
        margin: 0 10px;

    }
}

// Định nghĩa màu cho các tùy chọn
.option-pending {
    background-color: orange;
}

.option-accepted {
    background-color: green;
    color: white; // Nếu bạn muốn thay đổi màu chữ
}

.option-shipping {
    background-color: blue;
    color: white; // Nếu bạn muốn thay đổi màu chữ
}

.option-done {
    background-color: gray;
    color: white; // Nếu bạn muốn thay đổi màu chữ
}

// Để đảm bảo chữ trắng trên các tùy chọn có nền màu sáng, bạn có thể thêm một class khác để đảm bảo màu chữ phù hợp.
.light-text {
    color: white;
}