/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.admin_section {
    width: 100%;
    height: 100vh;
    display: flex;
    transition: padding-left 0.3s ease;
    /* Thêm transition để tạo hiệu ứng mượt mà */
    padding-left: 110px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(207, 46, 59);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
}

.sidebar:hover {
    width: 210px;
}

.sidebar:hover+.content_admin {
    margin-left: 120px;
}

.sidebar .logo {
    color: white;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo img {
    width: 43px;
    border-radius: 50%;
}

.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
}

.sidebar:hover .logo h2 {
    display: block;
}

.sidebar .links {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.links li:hover {
    cursor: pointer;
    background: #bdb7b7;
}

.links h4 {
    color: white;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
}

.sidebar:hover .links h4 {
    display: block;
}

.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}

.sidebar:hover .links hr {
    border-color: transparent;
}

.links li span {
    padding: 12px 10px;
    font-size: 24px;
    color: white;
}

.links li p {
    padding: 10px;
    color: white;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li p {
    display: block;
}

.links .logout-link {
    margin-top: 20px;
}

.content_admin {
    width: 100%;
    height: 100%;
    background-color: #eff2f1;
    display: flex;
    justify-content: start;

    .body_content {
        height: 96%;
        width: 96%;
        // background-color: white;
        display: flex;
        justify-content: start;
    }
}








tbody {
    tr {

        th,

        button[type="button"] {
            padding: 5px 10px;
            font-size: 12px;
            margin: 2px;
            cursor: pointer;
        }

        .button-danger {
            background-color: red;
            color: white;
            border: none;
        }

        .button-danger:hover {
            background-color: darkred;
        }

        .button-success {
            background-color: green;
            color: white;
            border: none;
        }

        .button-success:hover {
            background-color: darkgreen;
        }

    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    .status {
        td {
            background-color: rgba(0, 128, 0, 0.05);
            color: green;
        }
    }
}

.Addnew {
    text-decoration: none;
    color: green;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid green;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.box-info {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
    display: flex;
    align-items: center;

}

.box-info li {
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    svg{
        width: 30px;
        height: auto;
    }
    img {
        background: var(--light-blue);
        color: var(--blue);
    }

    .bx {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        font-size: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.box-info li:nth-child(1) .bx {
    background: var(--light-blue);
    color: var(--blue);
}

.box-info li:nth-child(2) .bx {
    background: var(--light-yellow);
    color: var(--yellow);
}

.box-info li:nth-child(3) .bx {
    background: var(--light-orange);
    color: var(--orange);
}

.box-info li .text h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.box-info li .text p {
    color: var(--dark);
}